// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.display-center__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
